{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-column align-items-center">

    <h1 class="mb-5">
        Painel Principal
    </h1>

    <div class="card shadow mb-4 w-50">

        <div class="card-body text-center">

            <h3>Clientes</h3>

            <p>
                 Clientes cadastrados
            </p>

            <a href="/clientes/"
               class="btn btn-primary">

                Abrir Clientes

            </a>

        </div>

    </div>

    <div class="card shadow mb-4 w-50">

        <div class="card-body text-center">

            <h3>Produtos</h3>

            <p>
                 Produtos e estoque
            </p>

            <a href="/produtos/"
               class="btn btn-success">

                Abrir Produtos

            </a>

        </div>

    </div>

    <div class="card shadow mb-4 w-50">

        <div class="card-body text-center">

            <h3>Pedidos</h3>

            <p>
                 Vendas e pedidos
            </p>

            <a href="/pedidos/"
               class="btn btn-danger">

                Abrir Pedidos

            </a>

        </div>

    </div>

    <div class="card shadow mb-4 w-50">

        <div class="card-body text-center">

            <h3>Relatórios</h3>

            <p>
                Relátorio de vendas
            </p>

            <a href="/pedidos/relatorio/"
               class="btn btn-warning">

                Abrir Relatórios

            </a>

        </div>

    </div>

</div>

{% endblock %}